_site
scripts/__pycache__/convert_notebooks.cpython-311.pyc
_posts/*_IPYNB_2_.md
nohup.out
Gemfile.lock
_posts/2023-08-21-GitHub_Pages.md
_posts/2023-08-16-Tools_Equipment.md
_posts/2023-08-15-Tools_Sprint.md
_notebooks/2023-08-21-VSCode-GitHub_Pages.ipynb
_notebooks/2023-08-17-AP-pseudo-vs-python.ipynb
_notebooks/2023-08-16-linux_shell.ipynb